html {
  min-width: 700px;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
      padding: 7px;
    }

.jumbotron {
      padding: 115px;     
}

.bg-3 {
  background-color: #e6e6e6; 
}
  
footer {
      background-color: #cccccc;
      padding: 20px;
      font-size: 20px; 
      border: 1px solid black;
      display: grid;
      text-align: center; 
      overflow: auto;
      align-content: space-evenly;
      white-space: nowrap;
    }

.social {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  margin: 1px;
  min-width: 50px;
  
}


#main {
  font-size: 26px;
}

p {
  font-family: 'Montserrat', Garamond, sans-serif; 
  font-size: 15px;  
}

.logo {
  font-size: 26px;
  font-weight: bold;
}
